html, body {
  height: 100%;
}

body {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  font-family: 'Inconsolata';
  margin: 0;
}

h1 {
  margin-left: 20px;
}

#tweet, #insta {
  background-color: #000;
  font-size: 28px;
  opacity: .8;
  position: absolute;
}

#tweet {
  padding: 10px 0;
  text-align: center;
  top: 50%;
  width: 100%;
}

#tweet a {
  color: #fff;
  text-decoration: none;
}

#tweet a:hover {
  text-decoration: underline;
}

#insta {
  bottom: 20px;
  right: 20px;
}