html, body {
  height: 100%;
}

body {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
}

#tweet {
  background-color: #000;
  font-size: 28px;
  opacity: .8;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}